@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
#index{
font-family: 'PT Serif', serif;
background-image: url(./Assets/photo2.jpg);
background-size: cover;
color: yellow;
background-repeat: no-repeat;
}
button {
    max-width: 220px;
    height: 60px;
    width: 40vw;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px 0.9 black;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 26px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    text-align: center;
}
    
button:hover{
    background-color: rgba(0, 0, 0, 0.25);
}
header{
    background: white;
    text-align: center;
    padding: 50px;
    box-shadow: 0px 3px 6px lightgray;
}
#black{
    background-color: rgb(0, 0, 0,0.1);
    padding: 2%;
    margin: 10%;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
h2{
    color: rgb(63, 235, 20);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
span{
    color: red;
}
